* , ::before, ::after{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0;
    background: #fff;


}

.calculator {
    display: grid;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(6, 80px);
    background: #fff;
    padding-top: 30px;
}

.calculator button{
    background: white;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px,
     rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, rgba(0, 0, 0, 0.5) 0px -3px 0px inset;
    

}

.calculator button:hover {
background: #fff;
border: 1px solid whitesmoke;
font-size: 1.8rem;

}
.btn-0 {
    grid-column: span 2;
}
.output {
    grid-column: 1/ -1;
    background: #fff;
    border-radius: 10px;
box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, 
rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, 
rgba(0, 0, 0, 0.5) 0px -3px 0px inset;
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 10px;
word-wrap: break-word;
word-break: break-all;
}
.display-1{
    font-size: 1.5rem;
    color: grey;

}
.display-2{
    color: #000;
    font-size: 1.5rem;

}
.display-result {
color: #000;
font-size: 2rem;
}
